RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

#Error Documents
ErrorDocument 403 /blueoceantech.in/errors/403.php
ErrorDocument 404 /blueoceantech.in/errors/404.php
ErrorDocument 503 /blueoceantech.in/errors/503.php

RewriteCond %{REQUEST_URI} !^/errors/503\.php$
RewriteCond %{REQUEST_URI} !/(?:js|css|errors|img)/
#RewriteRule !503\.php$ - [L,NC,R=503]
#RewriteRule ^wwd.*$ /errors/503.php [R=503,L]

#For Localhost
Options -Indexes

#For Server
#Options +Indexes

#Hide Files in Directory
IndexIgnore *.php *.html